<!-- dashboard template: version 0.30 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>
<html>
<head><meta charset="UTF-8">
	<title><%= lng("Activity Dashboard")%></title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<!--<link rel="import" href="/bower_components/polymer/polymer.html">-->
	<script src="/bower_components/d3/d3.min.js"></script>
	<script src="/bower_components/lodash/lodash.min.js"></script>
	<script src="/components/app-config/app-config.js"></script>
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/iron-dropdown/iron-dropdown.html">
	<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
	<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
	<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
	<link rel="import" href="/components/app-chart/app-chart-vbar.html">
	<link rel="import" href="/components/app-chart/app-chart-pie.html">
 </head>
 <body> 
 <!-- topBar template: version 1.20 -->
<dom-module id="top-bar">
<template>
<style>
	.topbar1 {
		position: fixed;
		top: 0;
		margin-top: 0;
		width: 100%;
		z-index: 1;
		//background-color: #039BE5;
		//background-color: #26A69A;
		background-color: #0097A7; //cyan 700
		color: white;
		//height: 40px;
		font-family: verdana, sans-serif;
	}
	.topBar {
		display: flex;
		justify-content: space-between;
		width: 94%;
		margin-top: 10px;
		margin-left:3%;
		z-index: 1;
		//background-color: #039BE5; blue
		//background-color: #26A69A; green
		background-color: #0097A7; 
		color: white;
		height: 30px;
	}
	.menubar {
		width: 100%;
		position: relative;
		top: 40px;
		z-index: 1;
		display: flex;
		//justify-content: space-between;
		justify-content: flex-start;
		background-color: #007080;
		height: 30px;
	}
	.menubar > div {
		color: white;
		margin-left: 20px;
		margin-top: 5px;
	}
	.menubar > div:first-of-type {
		margin-left: 120px;
	}
	.barTitle {
		margin-top: -3px;
		font-size: 20px;
	}
	.barItem {
		font-size: 15px;
	}
	.dropdown-content {
		margin-top: 30px;
		//margin-left: 0px,
		display: block;
		position: relative;
		background-color: #fff;
		color: black;
		box-shadow: 0px 2px 6px #ccc;
		padding: 10px;
		border-radius: 3px;
    }
	.dropdown-item {
		padding: 5px;
		color: rgb(100, 100, 100);
	}
	/*.dropdown-item:not(:last-of-type) {
		border-bottom: 1px solid #eee;
	}*/
	.top_border {
		border-top: 1px solid #eee;
	}
	.bar_icon {
		padding: 0;
	}
	.inline {
		display: inline;
	}
	#dropdown_user iron-icon {
		margin-right: 5px;
	}
</style>
	<div id="menubar" class="hide"><%
	  groups = _.map(_.uniq(resources, 'Group'),function(n) { return n.Group })
	  _.forEach(groups , function(n, key) { 
		if (n != '') {%>
		<div on-click="open_<%= n %>_menu"><%= lng(n) %>
		  <iron-dropdown id="dropdown_<%= n %>"  horizontal-align="left"  vertical-align="top">
			<ul class="dropdown-content" tabindex="0"><%
			  var arr = _.map(_.filter(resources, {'Group': n}), function(n4) { return n4.name})
			  _.forEach(arr, function(n2, key2) { %>
				<li class="dropdown-item" on-click="<%= n2 %>"><iron-icon icon="chevron-right"></iron-icon><%= lng(n2) %></li><%
			  }) %>
			</ul>
		  </iron-dropdown>
		</div><%
	  } } ) %>
	</div>
	<div class="topbar1">
	  <div class="topBar">
		<div class="barItem" on-click="open_app_menu">
		  <paper-icon-button class="bar_icon" icon="menu"></paper-icon-button>
		  <div class="inline">Menu</div>
		</div>
		<div class="barTitle"><content></content></div>
		<div class="barItem" on-click="open_user_menu">
		  <paper-icon-button class="bar_icon" icon="account-circle"></paper-icon-button>
		  <div class="inline dropdown-trigger"><%= user.user%></div>
		  <iron-icon icon="arrow-drop-down"></iron-icon>
		  <iron-dropdown id="dropdown_user"  horizontal-align="right" vertical-align="top">
			<ul class="dropdown-content" tabindex="0">
			  <li class="dropdown-item"><iron-icon icon="assessment"></iron-icon>Dashboard</li>
			  <hr>
			  <li class="dropdown-item"><iron-icon icon="perm-identity"></iron-icon>Profile</li>
			  <li class="dropdown-item"><iron-icon icon="drafts"></iron-icon>Messages</li>
			  <li class="dropdown-item"><iron-icon icon="settings"></iron-icon>Preferences</li>
			  <hr>
			  <li class="dropdown-item" on-click="signout"><iron-icon icon="exit-to-app"></iron-icon>Log Out</li>
			</ul>
		  </iron-dropdown>
		</div>
	  </div>
	</div>
</template>
<script>
	Polymer({
		is: "top-bar",
		open_user_menu: function() {
			this.$.dropdown_user.toggle()
		},
		open_app_menu: function() {
			this.$.menubar.classList.toggle('hide')
			this.$.menubar.classList.toggle('menubar')
		},
		signout: function() {
			window.location.assign(config_server() + "signout")
		}<%
	_.forEach(groups, function(n, key) {
	  if(n != '') {%>
		,open_<%= n %>_menu: function() {
			this.$.dropdown_<%= n%>.toggle()
		}<%
	}})
	_.forEach(resources, function(n, key) { 
	  if (n.resource.type == "page") {%>
		,<%= n.name %>: function() {
			window.location.assign(config_server() + "<%= n.path.substring(1) %>")
		}<%
	}})%>
	})
</script>
</dom-module>
 
<dom-module id="app-card">
<template>
	<style>
		#thecard {
			display: flex;
			border-width: 0px 2px 2px 2px;
			border-style: solid;
			border-color: lightgray;
			border-top: 2px solid rgb(230,230,230);
			//border: 2px solid lightgray;
		}
		#thecardtitle {
			display: flex;
			//justify-content: center;
			padding: 5px 0px 2px 10px;
			border-width: 2px 2px 0px 2px;
			border-style: solid;
			border-color: lightgray;
			//border: 2px solid 
			background-color: rgb(240,240,240);
		}
		#thecardtitle > strong {
			font-size: 16px;
		}
	</style>
	<div id="thecardtitle"><strong><content select=".card__title"></content></strong></div>
	<div id="thecard">
		<content select=":not(.card__title)"></content>
	</div>
</template>
<script>
	Polymer({ is: "app-card" })
</script>
</dom-module>
 
<dom-module id="Task-dashboard">

  <template>
    <style>

	.chart_group {
		display: flex;
		margin-left: 10px;
	}
	app-chart-vbar, app-chart-pie {
		//margin-left: 30px;
	}
    </style>
	<iron-ajax id="ajax" handle-as="json" on-response="load_data" on-error="ajax_error"></iron-ajax>
	<br><br>
		<br>
		<div class="chart_group">
		  <app-card>
			<div class="card__title"><iron-icon icon="arrow-drop-down"></iron-icon><%= lng("Activities by Status")%> <input></input></div>
			<app-chart-vbar id="vbar1" width=550></app-chart-vbar>
			<app-chart-pie id="pie1"></app-chart-pie>
		  </app-card>
		</div>
		<br>
		<div class="chart_group">
		  <app-card>
		     <div class="card__title"><iron-icon icon="arrow-drop-down"></iron-icon><%= lng("Activities by Type")%></div>
			<app-chart-vbar id="vbar2" width=400></app-chart-vbar>
			<app-chart-pie id="pie2"></app-chart-pie>
		  </app-card>
		</div>
		<br>
		<div class="chart_group">
		  <app-card>
			<div class="card__title"><iron-icon icon="arrow-drop-down"></iron-icon><%= lng("Activities by Priority")%></div>
			<app-chart-vbar id="vbar3" width=400></app-chart-vbar>
			<app-chart-pie id="pie3"></app-chart-pie>
		  </app-card>
		</div>
		<br>
  </template>
  <script>
    Polymer({
		is: "Task-dashboard",
		properties: {
			data: {
				type: String,
				value: ""
			},
			width: {
				type: Number,
				value: 300,
			}
		},
		ready: function() { 
			this.$.ajax.url = config_server() + "Task/cube"
			this.$.ajax.generateRequest()
		},
		getStatus: function(status) {
			switch(status) {
			  case "p":
					return "<%= lng("Pending")%>"
			  case "l":
					return "<%= lng("Planning")%>"
			  case "e":
					return "<%= lng("Working on")%>"
			  case "s":
					return "<%= lng("Stand by")%>"
			  case "c":
					return "<%= lng("Certificate")%>"
			  case "x":
					return "<%= lng("Close")%>"
			  default:
					return "<%= lng("Other")%>"
			}
		},
		getType: function(type) {
			switch(type) {
			  case "i":
					return "<%= lng("Incident")%>"
			  case "t":
					return "<%= lng("Task")%>"
			  case "c":
					return "<%= lng("Change")%>"
			  case "p":
					return "<%= lng("Project")%>"
			  default:
					return "<%= lng("Other")%>"
			}
		},
		getPriority: function(priority) {
			switch(priority) {
			  case "b":
					return "<%= lng("Low")%>"
			  case "m":
					return "<%= lng("Medium")%>"
			  case "a":
					return "<%= lng("Hight")%>"
			  case "c":
					return "<%= lng("Critic")%>"
			  default:
					return "<%= lng("Other")%>"
			}
		},
		load_data: function() {
			var datai = _.sortBy(this.$.ajax.lastResponse, 'status')
			var data = []
			var color = ['#1E88E5', '#009688', 'orange','#F44336', '#AB47BC', '#795548']
			var dato = {}
			var status = ''
			var j = 0
			for (i=0; i< datai.length; i++)
			{
				if (datai[i].status != status && i != 0)
					data.push(dato)
				if (datai[i].status != status)
				{
					dato = {data: Number(datai[i].n),
							color: color[j],
							label: this.getStatus(datai[i].status)
					}
					j++
				}
				 else
					dato.data += Number(datai[i].n)
				if (i == (datai.length - 1))
					data.push(dato)
				status = datai[i].status
			}
			this.$.vbar1.data = data
			this.$.vbar1.paint()
			this.$.pie1.data = data
			this.$.pie1.paint()
			
			var datai = _.sortBy(this.$.ajax.lastResponse, 'type')
			var data = []
			var dato = {}
			var type = ''
			var j = 0
			for (i=0; i< datai.length; i++)
			{
				if (datai[i].type != type && i != 0)
					data.push(dato)
				if (datai[i].type != type)
				{
					dato = {data: Number(datai[i].n),
							color: color[j],
							label: this.getType(datai[i].type)
					}
					j++
				}
				 else
					dato.data += Number(datai[i].n)
				if (i == (datai.length - 1))
					data.push(dato)
				type = datai[i].type
			}
			this.$.vbar2.data = data
			this.$.vbar2.paint()
			this.$.pie2.data = data
			this.$.pie2.paint()
			
			var datai = _.sortBy(this.$.ajax.lastResponse, 'priority')
			var data = []
			var dato = {}
			var priority = ''
			var j = 0
			for (i=0; i< datai.length; i++)
			{
				if (datai[i].priority != priority && i != 0)
					data.push(dato)
				if (datai[i].priority != priority)
				{
					dato = {data: Number(datai[i].n),
							color: color[j],
							label: this.getPriority(datai[i].priority)
					}
					j++
				}
				 else
					dato.data += Number(datai[i].n)
				if (i == (datai.length - 1))
					data.push(dato)
				priority = datai[i].priority
			}
			this.$.vbar3.data = data
			this.$.vbar3.paint()
			this.$.pie3.data = data
			this.$.pie3.paint()	
		}
	})
  </script>
</dom-module>

<top-bar><%= lng("Activity Dashboard")%></top-bar>

<Task-dashboard></Task-dashboard>
</body>
</html>