<!-- new-form: version 5.10 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  

<dom-module id="Task-new">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="validate_record" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax2" method="POST" handle-as="json" on-response="record_created" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<Task-select id="Task_select_dialog" on-item_selected="set_select_field"></Task-select>
		<h2 class="card_title"><%= lng("%s %s",lng("Create"),lng("Activity"))%></h2>
		<paper-dialog-scrollable>
		  <form id="form" action="javascript:void(0);" on-submit="create">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="activity"><%= lng('Activity')%><strong class="red"> *</strong></label></td>
				<td><input id="activity" type="text" name="activity" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ticket"><%= lng('Ticket')%></label></td>
				<td><input id="ticket" type="text" name="ticket"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="previous"><%= lng('Previous')%></label></td>
				<td><input id="previous" type="number" name="previous"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="order"><%= lng('Order')%></label></td>
				<td><input id="order" type="number" name="order"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type"><%= lng('Type')%></label></td>
				<td><select id="type" name="type">
						<option value="i"><%= lng('Incident')%></option>
						<option value="t"><%= lng('Task')%></option>
						<option value="c"><%= lng('Change')%></option>
						<option value="p"><%= lng('Project')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status"><%= lng('Status')%></label></td>
				<td><select id="status" name="status">
						<option value="p"><%= lng('Pending')%></option>
						<option value="e"><%= lng('Working on')%></option>
						<option value="s"><%= lng('Stand by')%></option>
						<option value="c"><%= lng('Certificate')%></option>
						<option value="x"><%= lng('Close')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="parent"><%= lng('Parent')%></label></td>
				<td><iron-icon icon="find-in-page" field="parent" on-click="select_field_b"></iron-icon><input id="parent" type="text" name="parent" key=0 on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="prioridad"><%= lng('Priority')%></label></td>
				<td><select id="prioridad" name="prioridad">
						<option value="b"><%= lng('Low')%></option>
						<option value="m"><%= lng('Medium')%></option>
						<option value="a"><%= lng('Hight')%></option>
						<option value="c"><%= lng('Critic')%></option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="requester"><%= lng('Requester')%></label></td>
				<td><input id="requester" type="text" name="requester"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="requestd"><%= lng('Request')%></label></td>
				<td><input id="requestd" type="date" name="requestd"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="start"><%= lng('Start')%></label></td>
				<td><input id="start" type="date" name="start"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="time"><%= lng('time')%></label></td>
				<td><input id="time" type="text" name="time"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="fcompromiso"><%= lng('Commit')%></label></td>
				<td><input id="fcompromiso" type="date" name="fcompromiso"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="end"><%= lng('End')%></label></td>
				<td><input id="end" type="date" name="end"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="responsable"><%= lng('Responsible')%></label></td>
				<td><input id="responsable" type="text" name="responsable"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ultseguimiento"><%= lng('Last Track')%></label></td>
				<td><input id="ultseguimiento" type="date" name="ultseguimiento"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="proxseguimiento"><%= lng('Next Track')%></label></td>
				<td><input id="proxseguimiento" type="date" name="proxseguimiento"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="observacion"><%= lng('Notes')%></label></td>
				<td><input id="observacion" type="text" name="observacion"></td>
			</tr>
			</table>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					<%= lng('Repeat ')%><input id="repeat" type="checkbox" name="repeat">
					<paper-button id="create_btn" class="btn" on-click="submit_form" raised><%= lng('Create')%></paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
				</div>
			</div>
		  </form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Task-new",
		open_dialog: function() {
			this.clear()
			this.$.dialog.open()
		},
		clear: function() {
			this.$.id.value = ''
			this.$.activity.value = ''
			this.$.ticket.value = ''
			this.$.previous.value = ''
			this.$.order.value = ''
			this.$.parent.value = ''
			this.$.parent.key = 0
			this.$.requester.value = ''
			this.$.requestd.value = ''
			this.$.start.value = ''
			this.$.time.value = ''
			this.$.fcompromiso.value = ''
			this.$.end.value = ''
			this.$.responsable.value = ''
			this.$.ultseguimiento.value = ''
			this.$.proxseguimiento.value = ''
			this.$.observacion.value = ''
		},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "parent")
				this.$.Task_select_dialog.open_select_dialog()
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		create: function() {
			this.$.ajax2.url = config_server() + "Task"
			var record = {}
			  record.activity = this.$.activity.value
			  record.ticket = this.$.ticket.value
			record.previous = Number(this.$.previous.value)
			record.order = Number(this.$.order.value)
			  record.type = this.$.type.value
			  record.status = this.$.status.value
			record.parent = this.$.parent.key
			  record.prioridad = this.$.prioridad.value
			  record.requester = this.$.requester.value
			if (this.$.requestd.value)
			  record.requestd = this.$.requestd.value
			if (this.$.start.value)
			  record.start = this.$.start.value
			  record.time = this.$.time.value
			if (this.$.fcompromiso.value)
			  record.fcompromiso = this.$.fcompromiso.value
			if (this.$.end.value)
			  record.end = this.$.end.value
			  record.responsable = this.$.responsable.value
			if (this.$.ultseguimiento.value)
			  record.ultseguimiento = this.$.ultseguimiento.value
			if (this.$.proxseguimiento.value)
			  record.proxseguimiento = this.$.proxseguimiento.value
			  record.observacion = this.$.observacion.value			
			this.$.ajax2.params = record
			this.$.ajax2.generateRequest()
		},
		record_created: function() {
			alert("Created Activity id="+this.$.ajax2.lastResponse.id)
			// ask for create another one
			if (!this.$.repeat.checked) {
				this.$.dialog.close()
				this.fire('close')
			} else 
				this.clear()
		},
		submit_form: function() {
			if (!isNaN(this.$.id.value))
			{
				if (this.$.id.value > 0)
				{
					this.$.ajax.url = config_server() + "Task/exist/"+this.$.id.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist) 
				alert("<%= lng('Record already Exist')%>")
			else
				this.$.submit_btn.click()
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}  
	})
</script>
</dom-module>