<!-- list-columns: version 5.10 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  

<dom-module id="User-list-columns">
<template>
<style>
	/*#dialog {
		width: 24em;
	}*/
	.green {
		background-color: green;
		color: white;
		height: 30px;
	}
	.orange {
		color: white;
		background-color: orange;
		height: 30px;
	}
</style>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Columns"),lng("User"))%></h2>
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><div id="id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="usr"><%= lng('User')%></label></td>
				<td><div id="usr" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name"><%= lng('Name')%></label></td>
				<td><div id="name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pwd"><%= lng('Password')%></label></td>
				<td><div id="pwd" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="profile_name"><%= lng('Profile')%></label></td>
				<td><div id="profile_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="email"><%= lng('email')%></label></td>
				<td><div id="email" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="photo"><%= lng('Photo')%></label></td>
				<td><div id="photo" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status"><%= lng('Status')%></label></td>
				<td><div id="status" on-click="change_field"></div></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised><%= lng('Change ')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "User-list-columns",
		properties: {
			//updated: false,
			//column: {}
		},
		open_list_columns: function(column) {
			this.updated= false,
			this.column= column
			this.show_field("id")
			this.show_field("usr")
			this.show_field("name")
			this.show_field("pwd")
			this.show_field("profile_name")
			this.show_field("email")
			this.show_field("photo")
			this.show_field("status")
			this.$.dialog.open()
		},
		change_field: function(e) {
			var field = e.toElement.id
			this.column[field] = !this.column[field]
			this.show_field(field)
		},
		show_field: function(field) {
			if (this.column[field])
			{  
				this.$[field].innerHTML = "<%= lng('Show')%>"
				this.$[field].classList.remove("orange")
				this.$[field].classList.add("green")
			}
			else
			{
				this.$[field].innerHTML = "<%= lng('Hide')%>"
				this.$[field].classList.remove("green")
				this.$[field].classList.add("orange")
			}
		},
		submit_form: function() {
			this.updated = true
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>