<!-- list template: version 6.05 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  
<html>
<head>
	<title><%= lng("%s %s",lng("List"),lng("User"))%></title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/js2/lokijs/src/lokijs.js"></script>
	<script src="/js2/x2js-v1.1.5/xml2json.min.js"></script>
	<script src="/components/app-config/app-config.js"></script>
	<script src="/components/app-util/app-util.js"></script>
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
	<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
	<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
	<link rel="import" href="/bower_components/iron-dropdown/iron-dropdown.html">
	<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
	<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
	<link rel="import" href="/bower_components/paper-item/paper-item.html">
	<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
	<!--<link rel="import" href="/System/topBar">
	<link rel="import" href="/User/display">
	<link rel="import" href="/User/edit">
	<link rel="import" href="/User/delete">
	<link rel="import" href="/User/columns">
	<link rel="import" href="/User/new">-->
	<!-- Forms imports -->
	<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
</head>
<body>
<style>
.card {
	width: 60em;
	top: 40px;
	left: 15px;
}
th div {
	display: inline;
}
#menu_dialog {
	position: absolute;
	left: 45px;
}
paper-item {
	min-height: 20px;
	line-height: 35px;
}
paper-dialog {
	margin-top: 0px;
	margin-bottom: 0px;
}
paper-menu {
	margin-top: 0px;
	margin-bottom: 0px;
}
</style>

<!-- topBar template: version 1.10 -->

<dom-module id="top-bar">
<template>
<style>
	.topbar1 {
		position: fixed;
		top: 0;
		margin-top: 0;
		width: 100%;
		z-index: 1;
		//background-color: #039BE5;
		//background-color: #26A69A;
		background-color: #0097A7; //cyan 700
		color: white;
		//height: 40px;
		font-family: verdana, sans-serif;
	}
	.topBar {
		display: flex;
		justify-content: space-between;
		width: 94%;
		margin-top: 10px;
		margin-left:3%;
		z-index: 1;
		//background-color: #039BE5; blue
		//background-color: #26A69A; green
		background-color: #0097A7; 
		color: white;
		height: 30px;
	}
	.barTitle {
		margin-top: -3px;
		font-size: 20px;
	}
	.barItem {
		font-size: 15px;
	}
	.dropdown-content {
		margin-top: 30px;
		//margin-left: 0px,
		display: block;
		position: relative;
		background-color: #fff;
		color: black;
		box-shadow: 0px 2px 6px #ccc;
		padding: 10px;
		border-radius: 3px;
    }
	.dropdown-item {
		padding: 5px;
	}
	.dropdown-item:not(:last-of-type) {
		border-bottom: 1px solid #eee;
	}
	.top_border {
		border-top: 1px solid #eee;
	}
	.bar_icon {
		padding: 0;
	}
	.inline {
		display: inline;
	}
</style>
	<div class="topbar1">
	  <div class="topBar">
		<div class="barItem" on-click="open_app_menu">
		  <paper-icon-button class="bar_icon" icon="menu"></paper-icon-button>
		  <div class="inline dropdown-trigger">Menu</div>
		  <iron-dropdown id="dropdown_menu"  horizontal-align="left" vertical-align="top">
			<ul class="dropdown-content" tabindex="0">
			  <li class="dropdown-item" on-click="task"><%= lng("Activity")%></li>
			  <li class="dropdown-item" on-click="resource"><%= lng("Resource")%></li>
			  <li class="dropdown-item" on-click="profile"><%= lng("Profile")%></li>
			  <li class="dropdown-item" on-click="user"><%= lng("User")%></li>
			  <li class="dropdown-item">Models</li>
			  <li class="dropdown-item">About</li>
			</ul>
		  </iron-dropdown>
		</div>
		<div class="barTitle"><content></content></div>
		<div class="barItem" on-click="open_user_menu">
		  <paper-icon-button class="bar_icon" icon="account-circle"></paper-icon-button>
		  <div class="inline dropdown-trigger"><%= user.user%></div>
		  <iron-dropdown id="dropdown_user"  horizontal-align="right" vertical-align="top">
			<ul class="dropdown-content" tabindex="0">
			  <li class="dropdown-item">Info</li>
			  <li class="dropdown-item">Change Password</li>
			  <li class="dropdown-item" on-click="signout">Signout</li>
			</ul>
		  </iron-dropdown>
		</div>
	  </div>
	</div>
</template>
<script>
	Polymer({
		is: "top-bar",
		ready: function() {
			//this.user = <%= user.user%> // Name: <%= user.name%>'
		},
		open_user_menu: function() {
			this.$.dropdown_user.toggle()
		},
		open_app_menu: function() {
			this.$.dropdown_menu.toggle()
		},
		signout: function() {
			window.location.assign(config_server() + "signout")
		},
		task: function() {
			window.location.assign(config_server() + "task/list")
		},
		user: function() {
			window.location.assign(config_server() + "user/list")
		},
		profile: function() {
			window.location.assign(config_server() + "profile/list")
		},
		resource: function() {
			window.location.assign(config_server() + "resource/list")
		}
	})
</script>
</dom-module>

<!-- list-columns: version 5.10 -->

<dom-module id="User-list-columns">
<template>
<style>
	/*#dialog {
		width: 24em;
	}*/
	.green {
		background-color: green;
		color: white;
		height: 30px;
	}
	.orange {
		color: white;
		background-color: orange;
		height: 30px;
	}
</style>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Columns"),lng("User"))%></h2>
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><div id="id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="usr"><%= lng('User')%></label></td>
				<td><div id="usr" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name"><%= lng('Name')%></label></td>
				<td><div id="name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pwd"><%= lng('Password')%></label></td>
				<td><div id="pwd" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="profile_name"><%= lng('Profile')%></label></td>
				<td><div id="profile_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="email"><%= lng('email')%></label></td>
				<td><div id="email" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="photo"><%= lng('Photo')%></label></td>
				<td><div id="photo" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status"><%= lng('Status')%></label></td>
				<td><div id="status" on-click="change_field"></div></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised><%= lng('Change ')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "User-list-columns",
		properties: {
			//updated: false,
			//column: {}
		},
		open_list_columns: function(column) {
			this.updated= false,
			this.column= column
			this.show_field("id")
			this.show_field("usr")
			this.show_field("name")
			this.show_field("pwd")
			this.show_field("profile_name")
			this.show_field("email")
			this.show_field("photo")
			this.show_field("status")
			this.$.dialog.open()
		},
		change_field: function(e) {
			var field = e.toElement.id
			this.column[field] = !this.column[field]
			this.show_field(field)
		},
		show_field: function(field) {
			if (this.column[field])
			{  
				this.$[field].innerHTML = "<%= lng('Show')%>"
				this.$[field].classList.remove("orange")
				this.$[field].classList.add("green")
			}
			else
			{
				this.$[field].innerHTML = "<%= lng('Hide')%>"
				this.$[field].classList.remove("green")
				this.$[field].classList.add("orange")
			}
		},
		submit_form: function() {
			this.updated = true
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>

<!-- new-form: version 5.10 -->

<dom-module id="User-new">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="validate_record" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax2" method="POST" handle-as="json" on-response="record_created" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<Profile-select id="Profile_select_dialog" on-item_selected="set_select_field"></Profile-select>
		<h2 class="card_title"><%= lng("%s %s",lng("Create"),lng("User"))%></h2>
		<paper-dialog-scrollable>
		  <form id="form" action="javascript:void(0);" on-submit="create">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="usr"><%= lng('User')%></label></td>
				<td><input id="usr" type="text" name="usr"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name"><%= lng('Name')%><strong class="red"> *</strong></label></td>
				<td><input id="name" type="text" name="name" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pwd"><%= lng('Password')%></label></td>
				<td><input id="pwd" type="text" name="pwd"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="profile"><%= lng('Profile')%></label></td>
				<td><iron-icon icon="find-in-page" field="profile" on-click="select_field_b"></iron-icon><input id="profile" type="text" name="profile" key=0 on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="email"><%= lng('email')%></label></td>
				<td><input id="email" type="text" name="email"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="photo"><%= lng('Photo')%></label></td>
				<td><input id="photo" type="text" name="photo"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status"><%= lng('Status')%></label></td>
				<td><select id="status" name="status">
						<option value="A"><%= lng('Active')%></option>
						<option value="I"><%= lng('Inactive')%></option>
					</select></td>
			</tr>
			</table>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					<%= lng('Repeat ')%><input id="repeat" type="checkbox" name="repeat">
					<paper-button id="create_btn" class="btn" on-click="submit_form" raised><%= lng('Create')%></paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
				</div>
			</div>
		  </form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "User-new",
		open_dialog: function() {
			this.clear()
			this.$.dialog.open()
		},
		clear: function() {
			this.$.id.value = ''
			this.$.usr.value = ''
			this.$.name.value = ''
			this.$.pwd.value = ''
			this.$.profile.value = ''
			this.$.profile.key = 0
			this.$.email.value = ''
			this.$.photo.value = ''
		},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "profile")
				this.$.Profile_select_dialog.open_select_dialog()
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		create: function() {
			this.$.ajax2.url = config_server() + "User"
			var record = {}
			  record.usr = this.$.usr.value
			  record.name = this.$.name.value
			  record.pwd = this.$.pwd.value
			record.profile = this.$.profile.key
			  record.email = this.$.email.value
			  record.photo = this.$.photo.value
			  record.status = this.$.status.value			
			this.$.ajax2.params = record
			this.$.ajax2.generateRequest()
		},
		record_created: function() {
			alert("Created User id="+this.$.ajax2.lastResponse.id)
			// ask for create another one
			if (!this.$.repeat.checked) {
				this.$.dialog.close()
				this.fire('close')
			} else 
				this.clear()
		},
		submit_form: function() {
			if (!isNaN(this.$.id.value))
			{
				if (this.$.id.value > 0)
				{
					this.$.ajax.url = config_server() + "User/exist/"+this.$.id.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist) 
				alert("<%= lng('Record already Exist')%>")
			else
				this.$.submit_btn.click()
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}  
	})
</script>
</dom-module>

<!-- display-form: version 5.10 -->

<dom-module id="User-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Display"),lng("User"))%></h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="usr"><%= lng('User')%></label></td>
				<td><input id="usr" type="text" name="usr" value="{{item.usr}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name"><%= lng('Name')%></label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pwd"><%= lng('Password')%></label></td>
				<td><input id="pwd" type="text" name="pwd" value="{{item.pwd}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="profile"><%= lng('Profile')%></label></td>
				<td><input id="profile" type="text" name="profile" value="{{item.profile_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="email"><%= lng('email')%></label></td>
				<td><input id="email" type="text" name="email" value="{{item.email}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="photo"><%= lng('Photo')%></label></td>
				<td><input id="photo" type="text" name="photo" value="{{item.photo}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status"><%= lng('Status')%></label></td>
				<td><select id="status" name="status" disabled>
						<option value="A"><%= lng('Active')%></option>
						<option value="I"><%= lng('Inactive')%></option>
					</select></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "User-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
			}
	})
</script>
</dom-module>

<!-- edit-form: version 5.10 -->

<dom-module id="User-edit">
<template>
	<iron-ajax id="ajax" method='PUT' handle-as="json" on-response="record_updated" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<Profile-select id="Profile_select_dialog" on-item_selected="set_select_field"></Profile-select>
		<h2 class="card_title"><%= lng("%s %s",lng("Edit"),lng("User"))%></h2>
		<paper-dialog-scrollable>
		<form id="form" action="javascript:void(0);" on-submit="update">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="usr"><%= lng('User')%></label></td>
				<td><input id="usr" type="text" name="usr" value="{{item.usr}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name"><%= lng('Name')%><strong class="red"> *</strong></label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pwd"><%= lng('Password')%></label></td>
				<td><input id="pwd" type="text" name="pwd" value="{{item.pwd}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="profile"><%= lng('Profile')%></label></td>
				<td><iron-icon icon="find-in-page" field="profile" on-click="select_field_b"></iron-icon><input id="profile" type="text" name="profile" key={{item.profile_id}} value="{{item.profile_name}}" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="email"><%= lng('email')%></label></td>
				<td><input id="email" type="text" name="email" value="{{item.email}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="photo"><%= lng('Photo')%></label></td>
				<td><input id="photo" type="text" name="photo" value="{{item.photo}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status"><%= lng('Status')%></label></td>
				<td><select id="status" name="status">
						<option value="A"><%= lng('Active')%></option>
						<option value="I"><%= lng('Inactive')%></option>
					</select></td>
			</tr>
			</table>
			<div class="buttons">
			  <input id="submit_update" class="hide" type="submit" value="CAMBIAR">
			  <div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised><%= lng('Change ')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			  </div>
			</div>
		</form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "User-edit",
		open_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
			},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "profile")
				this.$.Profile_select_dialog.open_select_dialog()
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		submit_form: function() {
			this.$.submit_update.click()
		},
		update: function() {
			var record = {}
			record.id = Number(this.$.id.value)
			record.usr = this.$.usr.value
			record.name = this.$.name.value
			record.pwd = this.$.pwd.value
			record.profile = this.$.profile.key
			record.email = this.$.email.value
			record.photo = this.$.photo.value
			record.status = this.$.status.value
			this.$.ajax.url = config_server() + "User/" +record.id
			this.$.ajax.params = record
			this.$.ajax.generateRequest()
		},
		record_updated: function() {
			alert("<%= lng('Record Updated')%>")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>

<!-- delete-form: version 5.10 -->

<dom-module id="User-delete">
<template>
	<iron-ajax id="ajax" method='DELETE' handle-as="json" on-response="record_deleted" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Delete"),lng("User"))%></h2>
		<paper-dialog-scrollable>
		<form id="form" action="javascript:void(0);" on-submit="delete">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="usr"><%= lng('User')%></label></td>
				<td><input id="usr" type="text" name="usr" value="{{item.usr}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name"><%= lng('Name')%></label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pwd"><%= lng('Password')%></label></td>
				<td><input id="pwd" type="text" name="pwd" value="{{item.pwd}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="profile"><%= lng('Profile')%></label></td>
				<td><input id="profile" type="text" name="profile" value="{{item.profile_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="email"><%= lng('email')%></label></td>
				<td><input id="email" type="text" name="email" value="{{item.email}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="photo"><%= lng('Photo')%></label></td>
				<td><input id="photo" type="text" name="photo" value="{{item.photo}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status"><%= lng('Status')%></label></td>
				<td><select id="status" name="status" disabled>
						<option value="A"><%= lng('Active')%></option>
						<option value="I"><%= lng('Inactive')%></option>
					</select></td>
			</tr>
			</table>
		<div class="buttons">
			<input id="submit_delete" class="hide" type="submit" value="BORRAR">
			<div class="card_line">
				<paper-button id="delete_btn" class="btn" on-click="form_submit" raised><%= lng('Delete')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
		</form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "User-delete",
		open_delete_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
			},
		form_submit: function() {
			this.$.submit_delete.click()
		},
		delete: function() {
			this.$.ajax.url = config_server() + "User/"+this.item.id
			this.$.ajax.generateRequest()
		},
		record_deleted: function() {
			alert("<%= lng('Record Deleted')%>")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>


<!-- select-model: version 5.10 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  

<dom-module id="Profile-select">
<template>
	<iron-ajax id="ajax" method='GET' handle-as="json" on-response="get_data" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" vertical layout>
		<iron-icon icon="close" on-click="close" mini></iron-icon>  
		<div><input id="filtro" type="{{tipo}}" on-input="filter" placeholder="<%= lng('Profile')%>..."></div>
		<paper-dialog-scrollable>
		<template id="template_items" is="dom-repeat" items="{{filtered_data}}">
			<div id="{{item.id}}" on-click="select">{{item.name}}</div>
		</template>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Profile-select",
		open_select_dialog: function() {
			this.$.filtro.value = ""
			this.$.ajax.url= config_server() +"Profile"
			var db = new loki()
			this.data = db.addCollection("data_Profile")
			this.filtered_data = []
			this.load_data()
			this.tipo="string" //filter type
			this.$.dialog.open()
		},
		close: function() {
			this.$.dialog.close()
		},
		load_data: function() {
			this.$.ajax.generateRequest()
		},
		get_data: function() {
			while(this.data.data[0]) {
				this.data.remove(this.data.data[0])
			}
			for (i=0; i< this.$.ajax.lastResponse.length; i++)
				this.data.insert(this.$.ajax.lastResponse[i])
			this.filter()
		},
		filter: function() {
			this.filtered_data = []
			this.cur_filter = { name: { $contains: this.$.filtro.value} }
			this.result_set = this.data.chain().find(this.cur_filter).simplesort("name", false)
			this.filtered_data = this.result_set.data()
		},
		select: function(e) {
			this.item = {}
			this.item.key = e.toElement.id
			this.item.name = e.toElement.innerHTML
			this.$.dialog.close()
			//this.close()
			this.fire('item_selected')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>

<dom-module id="User-list">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="load_data" on-error="ajax_error"></iron-ajax>
	<User-list-columns id="User_list_columns" on-close="update_columns"></User-list-columns>
	<User-new id="User_new_dialog" on-close="reload"></User-new>
	<User-display id="User_display_dialog"></User-display>
	<User-edit id="User_edit_dialog" on-close="reload"></User-edit>
	<User-delete id="User_delete_dialog" on-close="reload"></User-delete>
	<Profile-select id="Profile_select_dialog" on-item_selected="set_select_field"></Profile-select>	
	<!--<div class="card_title"><%= lng("%s %s",lng("List"),lng("User"))%></div>-->
	<select id="filter" on-change="input_type">  <%= lng('Id')%>
		<option value="id"><%= lng('Id')%></option>  <%= lng('User')%>
		<option value="usr"><%= lng('User')%></option>  <%= lng('Name')%>
		<option value="name"><%= lng('Name')%></option>  <%= lng('Password')%>
		<option value="pwd"><%= lng('Password')%></option>
		<option value="profile_name"><%= lng('Profile')%></option>  <%= lng('email')%>
		<option value="email"><%= lng('email')%></option>  <%= lng('Photo')%>
		<option value="photo"><%= lng('Photo')%></option>  <%= lng('Status')%>
		<option value="status"><%= lng('Status')%></option>
	</select>
	<select id="op">   
		<option value="$eq"><%= lng('Equal to')%></option>
		<option value="$ne"><%= lng('Different to')%></option>
		<option value="$contains"><%= lng('Contains')%></option>
		<option value="$gte"><%= lng('Greater or Equal to')%></option>
		<option value="$lte"><%= lng('Less or Equal to')%></option>
	</select>
	<input id="filtro" type="{{tipo}}" on-click="select_field">
	<select id="select" class="hide">
	  <template is="dom-repeat" items="{{opts}}">
		<option value="{{item.op}}">{{item.des}}</option>
	  </template>
	</select>
	<select id="logic" on-change="logic_operator">
		<option value="-">---</option>
		<option value="$and">And</option>
		<option value="$or">Or</option>
	</select>
	<paper-button class="btn" on-click="filter" raised><%= lng('Find')%></paper-button>
	<strong id="total">{{regs}}</strong>
	<br>
	<select id="filter2" class="hide" on-change="input_type2">
		<option value="id"><%= lng('Id')%></option>
		<option value="usr"><%= lng('User')%></option>
		<option value="name"><%= lng('Name')%></option>
		<option value="pwd"><%= lng('Password')%></option>
		<option value="profile_name"><%= lng('Profile')%></option>
		<option value="email"><%= lng('email')%></option>
		<option value="photo"><%= lng('Photo')%></option>
		<option value="status"><%= lng('Status')%></option>
	</select>
	<select id="op2" class="hide" >   
		<option value="$eq"><%= lng('Equal to')%></option>
		<option value="$ne"><%= lng('Different to')%></option>
		<option value="$contains"><%= lng('Contains')%></option>
		<option value="$gte"><%= lng('Greater or Equal to')%></option>
		<option value="$lte"><%= lng('Less or Equal to')%></option>
	</select>
	<input id="filtro2" class="hide" type="{{tipo2}}" on-click="select_field">
	<select id="select2" class="hide">
	  <template is="dom-repeat" items="{{opts2}}">
		<option value="{{item.op}}">{{item.des}}</option>
	  </template>
	</select>
	<paper-fab id="btn_add" mini on-click="new" icon="add"></paper-fab>
	<paper-fab id="btn_down" mini on-click="download" icon="file-download"></paper-fab>
	<paper-fab id="btn_menu" mini on-click="menu" icon="list"></paper-fab>

	<a href="{{download_data}}" id="link" class="hide" download="User.xml">Download Data</a>

	<paper-dialog id="menu_dialog"> 
		<paper-menu>
			<paper-item on-click="display" style="min-height:20px;line-height:35px;"><%= lng('Display')%></paper-item>
			<paper-item on-click="edit" style="min-height:20px;line-height:35px;"><%= lng('Edit')%></paper-item>
			<paper-item on-click="delete" style="min-height:20px;line-height:35px;"><%= lng('Delete')%></paper-item>
		</paper-menu>
	</paper-dialog>
	<table id="data_table" class="table_list" style="width:100%">
	<thead>
	  <tr>
		<th class="ops"><paper-icon-button on-click="list_columns" icon="settings"></paper-icon-button></th>
		<th class="col_id" on-click="sort_id"><%= lng('Id')%><div id="id_sort_d" class="hide">
			<iron-icon id="id_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_usr" on-click="sort_usr"><%= lng('User')%><div id="usr_sort_d" class="hide">
			<iron-icon id="usr_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_name" on-click="sort_name"><%= lng('Name')%><div id="name_sort_d" class="hide">
			<iron-icon id="name_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_pwd" on-click="sort_pwd"><%= lng('Password')%><div id="pwd_sort_d" class="hide">
			<iron-icon id="pwd_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_profile_name" on-click="sort_profile_name"><%= lng('Profile')%><div id="profile_name_sort_d" class="hide">
			<iron-icon id="profile_name_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_email" on-click="sort_email"><%= lng('email')%><div id="email_sort_d" class="hide">
			<iron-icon id="email_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_photo" on-click="sort_photo"><%= lng('Photo')%><div id="photo_sort_d" class="hide">
			<iron-icon id="photo_sort" icon="arrow-drop-up"></iron-icon></div></th>
		<th class="col_status" on-click="sort_status"><%= lng('Status')%><div id="status_sort_d" class="hide">
			<iron-icon id="status_sort" icon="arrow-drop-up"></iron-icon></div></th>
	  </tr>
	</thead>
	<!--<tfoot>
	<tr>
		<td class="ops"></td>
		<td class="col_id"></td>
		<td class="col_usr"></td>
		<td class="col_name"></td>
		<td class="col_pwd"></td>
		<td class="col_profile_name"></td>
		<td class="col_email"></td>
		<td class="col_photo"></td>
		<td class="col_status"></td>
	</tr>
	</tfoot>-->
	<tbody>
	<template id="template_items" is="dom-repeat" items="{{filtered_data}}">
	<tr>
		<td class="ops">
			<paper-icon-button key="{{item.id}}" on-click="item_menu_toggle" class="icon-op" icon="list"></paper-icon-button>
		</td>
		<template is="dom-if" if="{{column.id}}"><td>{{item.id}}</td></template>
		<template is="dom-if" if="{{column.usr}}"><td>{{item.usr}}</td></template>
		<template is="dom-if" if="{{column.name}}"><td>{{item.name}}</td></template>
		<template is="dom-if" if="{{column.pwd}}"><td>{{item.pwd}}</td></template>
		<template is="dom-if" if="{{column.profile_name}}"><td>{{item.profile_name}}</td></template>
		<template is="dom-if" if="{{column.email}}"><td>{{item.email}}</td></template>
		<template is="dom-if" if="{{column.photo}}"><td>{{item.photo}}</td></template>
		<template is="dom-if" if="{{column.status}}"><td>{{item.status_des}}</td></template>
	</tr>
	</template>
	</tbody>
</table>
</template>
<script>
Polymer({
	is: "User-list",
	properties: {
		//cur_sort: { field: "id", isdesc: false },
		//cur_filter: {}
	},
	ready: function() {
		// For Sharepoint
		if (typeof String.prototype.startsWith != 'function') {
			// see below for better implementation!
			String.prototype.startsWith = function (str){
				return this.indexOf(str) === 0;
			}
		}
		this.$.ajax.url = config_server() + "User"
		this.cur_sort = { field: "id", isdesc: true }
		this.cur_filter = {}
		var _model = [{column: "id", type: "integer", display: true},
				{column: "usr", type: "string", display: true},
				{column: "name", type: "string", display: true},
				{column: "pwd", type: "string", display: false},
				{column: "profile_id", type: "integer", model: "Profile", display: false},
				{column: "profile_name", type: "string", model: "Profile", display: true},
				{column: "email", type: "string", display: true},
				{column: "photo", type: "string", display: false},
				{column: "status", enum: ["A","I"], enumdes: ["<%= lng("Active")%>","<%= lng("Inactive")%>"], display: true}
		]
		this.enums = {}
		this.enums.status = {A:"<%= lng('Active')%>",I:"<%= lng('Inactive')%>"}
		//var _data = <%- data %>
		var db = new loki()
		this.data = db.addCollection("data_User")
		this.model = db.addCollection("model_User")
		this.reload()
		for (i=0; i< _model.length ; i++)
			this.model.insert(_model[i])
		_model = {}
		this.input_type()
		this.set_filter() //and columns & sort from localStorage
	},
	list_columns: function() {
		this.$.User_list_columns.open_list_columns(this.column)
	},
	update_columns: function() {
		var columns = {}
		this.column = this.$.User_list_columns.column
		for (i=0; i < this.model.data.length; i++ )
		{
			this.model.data[i].display = this.column[this.model.data[i].column]
			columns[this.model.data[i].column] = this.column[this.model.data[i].column]
		}
		localStorage["User-list-columns"] = JSON.stringify(columns)
		this.show_columns()
		// reset filter
		this.$.filter.value = "id"
		this.$.op.value = "$eq"
		this.$.filtro.value = ""
		this.$.logic.value = "-"
		this.logic_operator()
		this.filter()
	},
	show_columns: function() {
		var column = ''
		this.column = {}
		var el = []
		for (i=0; i < this.model.data.length; i++)
		{
			this.column[this.model.data[i].column] = this.model.data[i].display
			column = 'col_'+ this.model.data[i].column
			el = this.$.data_table.querySelectorAll('.'+column)
			for (j=0; j< el.length; j++)
				if (this.model.data[i].display)
					el[j].classList.remove("hide")
				else
					el[j].classList.add("hide")
		}
	},
	date_dma: function(datex) {
		return datex_dma(datex)
	},
	logic_operator: function() {
		if (this.$.logic.value == "-") {
			this.$.filter2.className = "hide"
			this.$.op2.className = "hide"
			this.$.filtro2.className = "hide"
			this.$.select2.className = "hide"
		} else
		{
			this.$.filter2.className = ""
			this.$.op2.className = ""
			this.input_type(2)
			//this.$.filtro2.className = ""
			//this.$.select2.className = ""
		}
	},
	select_field: function(e) {
		this.field = e.toElement.id
		var filter = ""
		switch (this.field) {
		  case "filtro":
			filter = "filter"
		  break;
		  case "filtro2":
			filter = "filter2"
		  break;
		}
		if (filter != "")
		{
		  if (this.$[filter].value == "profile_name"){
			this.$.Profile_select_dialog.style.top = e.toElement.offsetParent.offsetTop+"px"
			//this.$.Profile_select_dialog.style.left = "-100px"
			this.$.Profile_select_dialog.open_select_dialog()
		  }
		}
	},
	set_select_field: function(e) {
		this.$[this.field].value = this.$[e.srcElement.id].item.name
	},
	set_filter: function() {
		if (localStorage["User-list-filter"])
		{
			var stored_filter = JSON.parse(localStorage["User-list-filter"])
			this.$.filter.value = stored_filter.filter
			this.$.op.value = stored_filter.op
			this.input_type()
			var column = this.model.find({ "column": this.$.filter.value})
			if (column[0].enum)
				if (column[0].type != "number")
					this.$.select.value = stored_filter.value
				else
					this.$.select.value = Number(stored_filter.value)
			else
				if (column[0].type != "number")
					this.$.filtro.value = stored_filter.value
				else
					this.$.filtro.value = Number(stored_filter.value)
			if  (stored_filter.filter2)
			{
				this.$.logic.value = stored_filter.logic
				this.logic_operator()
				this.$.filter2.value = stored_filter.filter2
				this.$.op2.value = stored_filter.op2
				this.input_type(2)
				var column = this.model.find({ "column": this.$.filter2.value})
				if (column[0].enum)
					if (column[0].type != "number")
						this.$.select2.value = stored_filter.value2
					else
						this.$.select2.value = Number(stored_filter.value2)
				else
					if (column[0].type != "number")
						this.$.filtro2.value = stored_filter.value2
					else
						this.$.filtro2.value = Number(stored_filter.value2)
			}
			this.filter()
		}
		if (localStorage["User-list-columns"])
		{
			var columns = JSON.parse(localStorage["User-list-columns"])
			for (i=0; i < this.model.data.length; i++ )
			  this.model.data[i].display = columns[this.model.data[i].column]
		}
		this.show_columns()
	},
	filter: function() {
		var stored_filter = {}
 		var name = this.$.filter.value
		stored_filter.filter = name
		var op = this.$.op.value
		stored_filter.op = op 
		var valor = {}
		this.cur_filter = {}
		if (this.$.filtro.getAttribute("class") != "hide")
			if (this.$.filtro.getAttribute("type") == "number") 
				valor[op] = Number(this.$.filtro.value)
		 	else 
				valor[op] = this.$.filtro.value
		else 
			valor[op] = this.$.select.value
		this.cur_filter[name] = valor
		stored_filter.value = valor[op]
		if (this.$.logic.value != "-")
		{
			name = this.$.filter2.value
			op = this.$.op2.value
			stored_filter.logic = this.$.logic.value
			stored_filter.filter2 = name
			stored_filter.op2 = op 
			valor = {}
			var logic_op = this.$.logic.value
			var filtro2 = {}
			if (this.$.filtro2.getAttribute("class") != "hide")
				if (this.$.filtro2.getAttribute("type") == "number") 
					valor[op] = Number(this.$.filtro2.value)
				else 
					valor[op] = this.$.filtro2.value
			else 
				valor[op] = this.$.select2.value
			stored_filter.value2 = valor[op]
			filtro2[name] = valor
			var filtro = this.cur_filter
			this.cur_filter = {}
			this.cur_filter[logic_op] = [filtro, filtro2]	
		}
		localStorage["User-list-filter"] = JSON.stringify(stored_filter)
		this.result_set = this.data.chain().find(this.cur_filter).simplesort(this.cur_sort.field, this.cur_sort.isdesc)
		this.filtered_data = []
		this.filtered_data = this.result_set.data()
		this.regs = this.filtered_data.length + " reg"
	},
	hide_sort_icons: function() {
		this.$.id_sort_d.classList.add("hide")
		this.$.usr_sort_d.classList.add("hide")
		this.$.name_sort_d.classList.add("hide")
		this.$.pwd_sort_d.classList.add("hide")
		this.$.profile_name_sort_d.classList.add("hide")
		this.$.email_sort_d.classList.add("hide")
		this.$.photo_sort_d.classList.add("hide")
		this.$.status_sort_d.classList.add("hide")
	},
	sort_by_field: function(field) {
		this.hide_sort_icons()
		this.sort(field)
		if (this.cur_sort.isdesc)
			this.$[field+"_sort"].setAttribute("icon", "arrow-drop-down")
		  else
			this.$[field+"_sort"].setAttribute("icon", "arrow-drop-up")
		this.$[field+"_sort_d"].classList.remove("hide")	
	},
	sort_id: function() {
		this.sort_by_field("id")
	},
	sort_usr: function() {
		this.sort_by_field("usr")
	},
	sort_name: function() {
		this.sort_by_field("name")
	},
	sort_pwd: function() {
		this.sort_by_field("pwd")
	},
	sort_profile_name: function() {
		this.sort_by_field("profile_name")
	},
	sort_email: function() {
		this.sort_by_field("email")
	},
	sort_photo: function() {
		this.sort_by_field("photo")
	},
	sort_status: function() {
		this.sort_by_field("status")
	},
	sort: function(field) {
		if (this.cur_sort.field == field)
			this.cur_sort.isdesc = !this.cur_sort.isdesc
		 else
			this.cur_sort = { field: field, isdesc: false}
		this.result_set = this.data.chain().find(this.cur_filter).simplesort(this.cur_sort.field, this.cur_sort.isdesc)
		this.filtered_data = this.result_set.data()
	},
	input_type2: function() {
		this.input_type(2)
	},
	input_type: function(n) {
	if (n!= 2)
	{
		this.$.filtro.value = ""
		var column = this.model.find({ "column": this.$.filter.value})
	} 
	else
	{
		this.$.filtro2.value = ""
		var column = this.model.find({ "column": this.$.filter2.value})
	}
	if (column[0].type)
	{
		var tipo = ""
		switch(column[0].type) {
		case "string":
			tipo = "text"
		break;
		case "boolean":
			tipo = "boolean"
		break;
		case "integer":
			tipo = "number"
		break;
		case "float":
			tipo = "float"
		break;
		case "date":
			tipo = "date"
		break;
		default:
			tipo = "text"
		}
		if (n!= 2)
		{
			this.$.select.className = "hide"
			this.$.filtro.className = ""
			this.tipo = tipo
		} 
		else
		{
			this.$.select2.className = "hide"
			this.$.filtro2.className = ""
			this.tipo2 = tipo
		}	
	}
	else
	{
		if (n!= 2)
		{
			this.$.select.className = ""
			this.$.filtro.className = "hide"
			this.opts = []
			for (i=0; i< column[0].enum.length; i++)
				this.push("opts", {"op": column[0].enum[i], "des": column[0].enumdes[i]})
		}
		else
		{
			this.$.select2.className = ""
			this.$.filtro2.className = "hide"
			this.opts2 = []
			for (i=0; i< column[0].enum.length; i++)
				this.push("opts2", {"op": column[0].enum[i], "des": column[0].enumdes[i]})
		}
	}
	},
	menu: function() {
		
	},
	download: function() {
		var x2js = new X2JS();
		var datoi = this.data.data
		for (i=0; i<datoi.length; i++)
		{
			delete datoi[i].$loki
			delete datoi[i].meta
			delete datoi[i].createdAt
			delete datoi[i].updatedAt
		}
		var dato = { "data": datoi }
		var xml_data = x2js.json2xml_str(dato)
		xml_data = "<x>"+xml_data+"</x>"
		this.download_data = 'data:application/xml;charset=utf-8,'+xml_data
		this.$.link.click()		
	},
	item_menu_toggle: function(e){
		this.key = Number(e.toElement.offsetParent.key)
		this.$.menu_dialog.style.top = e.toElement.offsetParent.offsetTop+20+"px"
		this.$.menu_dialog.style.left = "30px"
		this.$.menu_dialog.open()
	},
  display: function(e) {
	this.$.menu_dialog.close()
	var filtro = {"id": this.key}
	var item = this.data.find(filtro)[0]
	this.$.User_display_dialog.open_display_dialog(item)
  },
  edit: function(e) {
	this.$.menu_dialog.close()
	var filtro = {"id": this.key}
	var item = this.data.find(filtro)[0]
	this.$.User_edit_dialog.open_dialog(item)
  },
  delete: function(e) {
	this.$.menu_dialog.close()
	var filtro = {"id": this.key}
	var item = this.data.find(filtro)[0]
	this.$.User_delete_dialog.open_delete_dialog(item)
  },
  new: function() {
	this.$.User_new_dialog.open_dialog()
  },
  reload: function() {
	this.$.ajax.generateRequest()
  },
  load_data: function() {
	while(this.data.data[0]) {
        this.data.remove(this.data.data[0])
      }
	for (i=0; i< this.$.ajax.lastResponse.length; i++)
	{
		if (this.$.ajax.lastResponse[i].profile){
			this.$.ajax.lastResponse[i].profile_id = this.$.ajax.lastResponse[i].profile.id
			this.$.ajax.lastResponse[i].profile_name = this.$.ajax.lastResponse[i].profile.name
		} else
		{
			this.$.ajax.lastResponse[i].profile_id = 0
			this.$.ajax.lastResponse[i].profile_name = ""
		}
		this.$.ajax.lastResponse[i].status_des= this.enums.status[this.$.ajax.lastResponse[i].status]	
		this.data.insert(this.$.ajax.lastResponse[i])
	}
	this.filter()
  },
  ajax_error: function() {
	console.log(this.$.ajax.lastError)
	alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
  }
});
</script>
</dom-module>
<top-bar><%= lng("%s %s",lng("List"),lng("User"))%></top-bar>
<paper-material class="card" elevation="2">
	<User-list></User-list>
</paper-material>
</body>
</html>
