<!-- login template: version 1.00 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%> 
<html>
<head>
	<script src="/components/app-config/app-config.js"></script>
 <!--<link rel="prerender" href="/styles/app.css"  as="stylesheet" probability="1.0"/>-->
<style>
	html {
		//background-color: rgb(240, 215, 240);
		background-color: rgba(165, 205, 235, .8); 
	}
	#loginCard {
		position: absolute;
		top: 30%;
		left: 30%;
		display: block;
		padding: 40px 60px 25px;
		background-color: rgb(170, 230, 170);
		border-radius: 8px;
		box-shadow: 5px 5px 8px #909090;
		background-color: whitesmoke;
		//opacity: .88;
	}
	#loginError {
		color: red;		
	}
	form {
		display: flex;
		flex-direction: column;
	}
	input {
		border-radius: 1px;
		padding: 6px;
		margin: 3px;
	}
	#btn {
		color: white;
		//background-color: #EBA646;
		background-color: lightseagreen;
		padding: 9;
		border-radius: 6px;
		font-weight: bold;
	}
	#usr, #pwd {
		border-radius: 6px;
	}
</style>
<title>Login</title>
<script>
   // Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', Google_Analytics_id(), {'sampleRate': 100});
  ga('send', 'pageview');
  // Redirect to https
  if (window.location.protocol != "https:" && window.location.href.indexOf('localhost') == -1)
	window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
</script>
</head>
<body>
	 <div id="loginCard">
	  <form action="/validateLogin" method="post">
		<%= lng('prueba') %>
		<input id="usr" type="string" name="username" placeholder="<%= lng('Username') %>">
		<input id="pwd" type="password" name="password" placeholder="<%= lng('Password') %>">
		<input id="btn" type="submit" value="<%= lng('Login') %>">
	  </form>
	  <% if (flash.err) {%>
	 <div id="loginError"><%= flash.err %></div>
	 <% } %>
	 </div>
	 
</body>
</html>