<!-- delete-form: version 5.10 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  

<dom-module id="ProfileResource-delete">
<template>
	<iron-ajax id="ajax" method='DELETE' handle-as="json" on-response="record_deleted" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Delete"),lng("ProfileResource"))%></h2>
		<paper-dialog-scrollable>
		<form id="form" action="javascript:void(0);" on-submit="delete">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="profile"><%= lng('Profile')%></label></td>
				<td><input id="profile" type="text" name="profile" value="{{item.profile_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="resource"><%= lng('Resource')%></label></td>
				<td><input id="resource" type="text" name="resource" value="{{item.resource_name}}" disabled></td>
			</tr>
			</table>
		<div class="buttons">
			<input id="submit_delete" class="hide" type="submit" value="BORRAR">
			<div class="card_line">
				<paper-button id="delete_btn" class="btn" on-click="form_submit" raised><%= lng('Delete')%></paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
		</form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "ProfileResource-delete",
		open_delete_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			},
		form_submit: function() {
			this.$.submit_delete.click()
		},
		delete: function() {
			this.$.ajax.url = config_server() + "ProfileResource/"+this.item.id
			this.$.ajax.generateRequest()
		},
		record_deleted: function() {
			alert("<%= lng('Record Deleted')%>")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("<%= lng('Error Processing Request: ')%>", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>