<!-- display-form: version 5.10 -->
 <% 
 function lng(word) {
	return __("word")
 }
 function lng(word1, word2, word3) {
	return __(word1, word2, word3)
 }
%>  

<dom-module id="Resource-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title"><%= lng("%s %s",lng("Display"),lng("Resource"))%></h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id"><%= lng('Id')%></label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name"><%= lng('Name')%></label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type"><%= lng('Type')%></label></td>
				<td><select id="type" name="type" disabled>
						<option value="page"><%= lng('Page')%></option>
						<option value="api"><%= lng('Api')%></option>
						<option value="option"><%= lng('Option')%></option>
					</select></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised><%= lng('Exit')%></paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Resource-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			}
	})
</script>
</dom-module>